<app-edit-card
  *ngIf="selectedData as data"
  [title]="pageTitle"
  [errorMessage]="errorMessage"
>
  <form novalidate (ngSubmit)="saveData(data)" [formGroup]="dataForm">
    <fieldset>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="nameId">Data Name</label>

        <div class="col-md-9">
          <input
            [ngClass]="{ 'is-invalid': displayMessage.name }"
            class="form-control"
            id="nameId"
            type="text"
            placeholder="Name (required)"
            formControlName="name"
            (blur)="blur()"
          />
          <span class="invalid-feedback" *ngIf="displayMessage.name">
            {{ displayMessage.name }}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="dataCodeId">Category</label>

        <div class="col-md-9">
          <input
            [ngClass]="{ 'is-invalid': displayMessage.category }"
            class="form-control"
            id="dataCodeId"
            type="text"
            placeholder="Code (required)"
            formControlName="category"
            (blur)="blur()"
            readonly
          />
          <span class="invalid-feedback" *ngIf="displayMessage.category">
            {{ displayMessage.category }}
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="descriptionId"
          >Description</label
        >

        <div class="col-md-9">
          <input
            [ngClass]="{ 'is-invalid': displayMessage.description }"
            class="form-control"
            id="descriptionId"
            placeholder="Description"
            rows="3"
            cols="80"
            formControlName="description"
          />

          <span class="invalid-feedback" *ngIf="displayMessage.description">
            {{ displayMessage.description }}
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <span>
            <button
              class="btn btn-primary"
              type="submit"
              style="width: 80px; margin-right: 10px"
              [disabled]="!dataForm.valid || !dataForm.dirty"
            >
              Save
            </button>
          </span>
          <span>
            <button
              class="btn btn-light"
              type="button"
              style="width: 80px; margin-right: 10px"
              (click)="cancelEdit(data)"
            >
              Cancel
            </button>
          </span>
          <span>
            <button
              class="btn btn-light"
              type="button"
              style="width: 80px"
              (click)="deleteData(data)"
            >
              Delete
            </button>
          </span>
        </div>
      </div>
    </fieldset>
  </form>
</app-edit-card>
