<ng-container *ngIf="alerts.length > 0">
  <div class="card-header btn-light">
    {{ TITLE }}
  </div>
  <div class="card-body">
    <div *ngFor="let alert of alerts">
      <span
        class="bi-exclamation-triangle-fill"
        [ngClass]="alert.priority === 'high' ? 'text-danger' : 'text-warning'"
      >&nbsp;</span>
      <span class="badge bg-secondary"
        >{{ alert.date | date: "dd/MM/yyyy" }}
      </span>
      <span>&nbsp;{{ alert.message }}</span>
    </div>
  </div>
</ng-container>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
