<div class="container-fluid">
  <ul class="navbar-nav navbar-right">
    <li class="nav-item">
      <span>{{ userName }}</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onLogOut()" style="cursor: pointer"
        >Log Out</a
      >
    </li>
  </ul>
</div>

<div class="container-fluid">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/data">Data</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/data/catagory-edit">Catagory</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/resource">Resource</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/role">Role</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/permission">Permission</a>
    </li>
  </ul>
</div>
