<div class="card" *ngIf="selectedCatagory as catagory">
  <div class="card-header bg-light">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <form novalidate (ngSubmit)="saveCatagory(catagory)" [formGroup]="catagoryForm">
      <fieldset>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="catNameId"
            >Catagory Name</label
          >

          <div class="col-md-9">
            <input
              [ngClass]="{ 'is-invalid': displayMessage.catName }"
              class="form-control"
              id="catNameId"
              type="text"
              placeholder="Name (required)"
              formControlName="catName"
              (blur)="blur()"
            />
            <span class="invalid-feedback" *ngIf="displayMessage.catName">
              {{ displayMessage.catName }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="catagoryCodeId"
            >SKU</label
          >

          <div class="col-md-9">
            <input
              [ngClass]="{ 'is-invalid': displayMessage.sku }"
              class="form-control"
              id="catagoryCodeId"
              type="text"
              placeholder="Code (required)"
              formControlName="sku"
              (blur)="blur()"
            />
            <span class="invalid-feedback" *ngIf="displayMessage.sku">
              {{ displayMessage.sku }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="descriptionId"
            >Description</label
          >

          <div class="col-md-9">
            <input
              [ngClass]="{ 'is-invalid': displayMessage.description }"
              class="form-control"
              id="descriptionId"
              placeholder="Description"
              rows="3"
              cols="80"
              formControlName="description"
            />
   
            <span class="invalid-feedback" *ngIf="displayMessage.description">
              {{ displayMessage.description }}
            </span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="catagoryCodeId"
            >Parent SKU</label
          >

          <div class="col-md-9">
            <input
              [ngClass]="{ 'is-invalid': displayMessage.parentSku }"
              class="form-control"
              id="catagoryCodeId"
              type="text"
              placeholder="parentSku"
              formControlName="parentSku"
              (blur)="blur()"
              readonly
            />
            <span class="invalid-feedback" *ngIf="displayMessage.parentSku">
              {{ displayMessage.parentSku }}
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <span>
              <button
                class="btn btn-primary"
                type="submit"
                style="width: 80px; margin-right: 10px"
                [disabled]="!catagoryForm.valid || !catagoryForm.dirty"
              >
                Save
              </button>
            </span>
            <span>
              <button
                class="btn btn-light"
                type="button"
                style="width: 80px; margin-right: 10px"
                (click)="cancelEdit(catagory)"
              >
                Cancel
              </button>
            </span>
            <span>
              <button
                class="btn btn-light"
                type="button"
                style="width: 80px"
                (click)="deleteCatagory(catagory)"
              >
                Delete
              </button>
            </span>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
  Error: {{ errorMessage }}
</div>
