<div class="container-fluid">
  <div class="row">
    <div class="card p-0">
      <div class="card-header btn-light">
        {{ pageTitle }}
      </div>
      <div class="card-body">
        <app-menu (logOut)="onLogOut()"></app-menu>
      </div>
    </div>
    <div *ngIf="errorMessage$ | async" class="alert alert-danger">
      Error: {{ errorMessage$ | async }}
    </div>
  </div>

  <div class="row">
    <div class="card p-0 mt-2">
      <app-alert [alerts]="alerts"></app-alert>
    </div>
  </div>
</div>
